<!--トップページや今後追加されていくページにはタイトルをはじめとした可変要素があるので、Railsのprovideメソッドを使ってタイトルのページ名部分をページごとに変更する。-->
<!--上記のコードでは< % ・・・ %>という記法が使われており、その中からRailsのprovideメソッドを呼び出している。-->
<!--メソッドの引数（provideの右隣にあるカッコ内の:title）では、"Top"という文字列と:titleというラベルを関連付けている。-->
<!--そしてタイトルの部分では、先ほどの記法と連携する< %= ・・・ %>というよく似た記法を使いその中でRubyのyieldメソッドを呼び出している。-->
<!--このメソッドによって、テンプレート対象部分に実際のタイトルが挿入される仕組み。-->
<!--記法がよく似ているため最初は区別が付けづらいですが、この2つのERBの違いは次の通り。-->
<!--< % ・・・ %>・・・中に記述されたコードを実行するだけで、出力はなし-->
<!--< %= ・・・ %>・・・等号=を入れると記述されたコードの実行結果がその部分に挿入される-->
<!--ERBでビューのコードをこのように書き換えても、ページの表示は以前と全く同じとなる。-->
<!--タイトルの可変部分がERBによって生成されている点のみが異なる。-->
<!--center jumbotron btn btn-lg btn-primaryなどもBootstrapによってスタイルが当てられる。-->
<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>勤怠システム</h1>
  <a class="btn btn-lg btn-primary" href="/login">ログイン</a>
  <p>アカウント作成は<a href="/signup">こちら</a>から</p>
</div>